$confirm-prefix-cls: jgui-confirm;

.#{$confirm-prefix-cls} {
  .jgui-modal-header {
    display: none;
  }

  .jgui-modal-body {
    padding: 30px 40px;
  }

  &-body {
    .#{$confirm-prefix-cls}-title {
      color: $text-color;
      font-weight: bold;
      font-size: 14px;
    }

    .#{$confirm-prefix-cls}-content {
      margin-left: 37px;
      font-size: $font-size-base;
      color: $text-color;
      margin-top: 8px;
    }

    > .jgicon {
      font-size: 24px;
      margin-right: 10px;
      padding: 0 1px;
      position: relative;
      top: 5px;
    }
  }

  .#{$confirm-prefix-cls}-btns {
    margin-top: 30px;
    float: right;

    button + button {
      margin-left: 10px;
      margin-bottom: 0;
    }
  }

  &-error &-body > .jgicon {
    color: $error-color;
  }

  &-warning &-body > .jgicon,
  &-confirm &-body > .jgicon {
    color: $warning-color;
  }

  &-info &-body > .jgicon {
    color: $primary-color;
  }

  &-success &-body > .jgicon {
    color: $success-color;
  }
}
